# Recent versions as of writing; `pip install -U opentelemetry-api opentelemetry-sdk
# opentelemetry-exporter-otlp-proto-grpc opentelemetry-instrumentation
# opentelemetry-instrumentation-requests requests` for latest.
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-requests==0.48b0
requests==2.32.3
